<!-- fabricator menu -->
<div class="f-menu">
    {{> f-control-bar}}

    {{> f-controls}}

    <ul>

        <li>
            <a href="index.html" class="f-menu__heading text-white">Overview</a>
        </li>

        {{#each materials}}
        <li>
            <a href="{{@key}}.html" class="f-menu__heading text-white">{{name}}</a>
            <ul>
                {{#each items}}
                <li>
                    <a href="{{@../key}}.html#{{@key}}" class="text-white">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}} {{#each views}}
        <li>
            <a href="{{@key}}.html" class="f-menu__heading">{{name}}</a>
            <ul>
                {{#each items}}
                <li>
                    <a href="{{@../key}}/{{@key}}.html" target="_blank">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}

    </ul>


</div>
<!-- /fabricator menu -->
