<nav class="f-nav f-font">
    <a class="f-link--category f-nav-category-name" data-jump-target="index" href="#index">Introduction</a>

    {{#each materials}}
    <a class="f-link--category f-nav-category-name" data-jump-target="{{@key}}" href="#{{@key}}">{{name}}</a>
        
    <div class="f-nav-category">
        {{#each items}}
        <a class="f-link--item f-nav-item" data-jump-target="{{@key}}" href="#{{@key}}">{{name}}</a>
        {{/each}}
    </div>
    {{/each}} 

    {{#each views}}
    <a class="f-link--category f-nav-category-name" data-jump-target="{{@key}}" href="#{{@key}}">{{name}}</a>

    <div class="f-nav-category">
        {{#each items}}
        <a class="f-link--item f-nav-item" href="pages/{{@key}}.html" target="_blank">{{name}}</a>
        {{/each}}
    </div>
    {{/each}}
</nav>