<div class="p-10">
    <p class="font-semi-bold text-purple-dark">Overview cards (key-value-cards)</p>
    <br>

    <div class="c-grid c-grid--thirds">
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content text-center">
                    <span class="block text-4xl font-extra-bold">20.492</span>
                    <span class="block text-lg text-purple font-semi-bold">ECA</span>
                </div>
            </div>
        </div>
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content text-center">
                    <span class="block text-4xl font-extra-bold">0.0202</span>
                    <span class="block text-lg text-purple font-semi-bold">BTC</span>
                </div>
            </div>
        </div>
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content text-center">
                    <span class="block text-4xl font-extra-bold">9240</span>
                    <span class="block text-lg text-purple font-semi-bold">USD</span>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <p class="font-semi-bold text-purple-dark">Contact cards (/address-book)</p>
    <br>

    <div class="c-grid c-grid--fourths">
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content text-center">
                    <h4>John Doe</h4>
                    <div class="mt-4">
                        <button>Send ECA</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content text-center">
                    <h4>John Doe</h4>
                    <div class="mt-4">
                        <button>Send ECA</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content text-center">
                    <h4>John Doe</h4>
                    <div class="mt-4">
                        <button>Send ECA</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content text-center">
                    <h4>John Doe</h4>
                    <div class="mt-4">
                        <button>Send ECA</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content text-center">
                    <h4>John Doe</h4>
                    <div class="mt-4">
                        <button>Send ECA</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content text-center">
                    <h4>John Doe</h4>
                    <div class="mt-4">
                        <button>Send ECA</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content text-center">
                    <h4>John Doe</h4>
                    <div class="mt-4">
                        <button>Send ECA</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content text-center">
                    <h4>John Doe</h4>
                    <div class="mt-4">
                        <button>Send ECA</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <p class="font-semi-bold text-purple-dark">Send/receive cards</p>
    <br>

    <div class="c-grid c-grid--halves">
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content">
                    <h3>Send ECA</h3>
                    <div class="my-4">
                        <div class="c-input">
                            <span class="c-input__label">Wallet Address</span>
                            <input type="text" placeholder="EH123asaeGsearuWWLbKToRdmnoS8BGD9hGC">
                        </div>
                        <div class="c-input">
                            <span class="c-input__label">Amount</span>
                            <input type="number" placeholder="ECA">
                        </div>
                    </div>
                </div>
                <div class="c-card__actions">
                    <button>Submit payment</button>
                </div>
            </div>
        </div>
        <div class="c-grid__item">
            <div class="c-card">
                <div class="c-card__content">
                    <h3>Receive ECA</h3>
                    <div class="my-4">
                        <div class="c-dropdown">
                            <select>
                                <option value="walletA" selected>Wallet A</option>
                                <option value="walletB">Wallet B</option>
                            </select>
                            <svg class="c-icon c-dropdown__icon">
                                <use xlink:href="#caret-down" />
                            </svg>
                        </div>
                        <div class="c-qr-code mt-8">
                            <canvas></canvas>
                        </div>
                    </div>
                </div>
                <div class="c-card__actions">
                    <button>Copy wallet address</button>
                </div>
            </div>
        </div>
    </div>
</div>