<div class="w-full p-10">
    <p class="font-semi-bold text-purple-dark">Available icons</p>
    <br>
    
    <div class="w-full">
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#info-circle" />
            </svg>
            <span class="text-sm">info-circle</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#angle-double-right" />
            </svg>
            <span class="text-sm">angle-double-right</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#address-book" />
            </svg>
            <span class="text-sm">address-book</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#clipboard" />
            </svg>
            <span class="text-sm">clipboard</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#qrcode" />
            </svg>
            <span class="text-sm">qrcode</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#pencil-alt" />
            </svg>
            <span class="text-sm">pencil-alt</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#home" />
            </svg>
            <span class="text-sm">home</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#handshake" />
            </svg>
            <span class="text-sm">handshake</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#exchange-alt" />
            </svg>
            <span class="text-sm">exchange-alt</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#caret-down" />
            </svg>
            <span class="text-sm">caret-down</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#clone" />
            </svg>
            <span class="text-sm">clone</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#cog" />
            </svg>
            <span class="text-sm">cog</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#calendar-alt" />
            </svg>
            <span class="text-sm">calendar-alt</span>
        </div>
        <div class="inline-flex w-1/6 p-8 flex-col items-center justify-center">
            <svg class="c-icon">
                <use xlink:href="#clock" />
            </svg>
            <span class="text-sm">clock</span>
        </div>
    </div>
</div>