
        <div style="display:flex;flex-wrap:wrap;justify-content:center;padding: 15px;">
            
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#address-book"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#address-book"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">address-book</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#address-card"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#address-card"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">address-card</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#arrow-alt-circle-down"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#arrow-alt-circle-down"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">arrow-alt-circle-down</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#arrow-alt-circle-up"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#arrow-alt-circle-up"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">arrow-alt-circle-up</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#calendar-alt"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#calendar-alt"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">calendar-alt</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#clipboard"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#clipboard"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">clipboard</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#clock"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#clock"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">clock</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#clone"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#clone"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">clone</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#credit-card"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#credit-card"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">credit-card</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#handshake"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#handshake"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">handshake</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#address-book"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#address-book"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">address-book</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#address-card"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#address-card"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">address-card</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#angle-double-right"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#angle-double-right"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">angle-double-right</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#arrow-alt-circle-down"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#arrow-alt-circle-down"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">arrow-alt-circle-down</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#arrow-alt-circle-up"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#arrow-alt-circle-up"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">arrow-alt-circle-up</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#calendar-alt"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#calendar-alt"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">calendar-alt</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#caret-down"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#caret-down"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">caret-down</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#clipboard"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#clipboard"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">clipboard</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#clock"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#clock"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">clock</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#clone"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#clone"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">clone</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#cog"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#cog"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">cog</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#credit-card"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#credit-card"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">credit-card</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#exchange-alt"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#exchange-alt"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">exchange-alt</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#handshake"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#handshake"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">handshake</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#home"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#home"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">home</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#info-circle"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#info-circle"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">info-circle</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#pencil-alt"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#pencil-alt"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">pencil-alt</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#plus"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#plus"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">plus</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#qrcode"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#qrcode"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">qrcode</span>
            </div>
        
            <div style="padding: 15px 0; min-width: 100px; max-width: 160px; text-align: center;" data-clipboard-trigger data-clipboard-text='
            <svg class="c-icon">
                <use xlink:href="#spinner"></use>
            </svg>
        '>
                
            <svg class="c-icon">
                <use xlink:href="#spinner"></use>
            </svg>
        
                <span style="display: block; font-size: 9px;">spinner</span>
            </div>
        
        </div>
    