<div class="p-10">
    <p class="font-semi-bold text-purple-dark">Title only</p>
    <br>

    <div class="c-view">
        <div class="c-view__header">
            <h2>View title</h2>
        </div>
        <div class="c-view__content">
            ((VIEW CONTENT))
        </div>
    </div>

    <br>
    <br>
    <p class="font-semi-bold text-purple-dark">With subtitle</p>
    <br>

    <div class="c-view">
        <div class="c-view__header">
            <h2>View title</h2>
        </div>
        <div class="c-view__subtitle">
            <p>Subtitle</p>
        </div>
        <div class="c-view__content">
            ((VIEW CONTENT))
        </div>
    </div>

    <br>
    <br>
    <p class="font-semi-bold text-purple-dark">With subtitle and actions</p>
    <br>

    <div class="c-view">
        <div class="c-view__header">
            <h2>View title</h2>
            <div class="c-view__actions">
                ((ACTIONS))
            </div>
        </div>
        <div class="c-view__subtitle">
            <p>Subtitle</p>
        </div>
        <div class="c-view__content">
            ((VIEW CONTENT))
        </div>
    </div>

    <br>
    <br>
    <p class="font-semi-bold text-purple-dark">Without subtitle but with actions</p>
    <br>

    <div class="c-view">
        <div class="c-view__header">
            <h2>View title</h2>
            <div class="c-view__actions">
                ((ACTIONS))
            </div>
        </div>
        <div class="c-view__content">
            ((VIEW CONTENT))
        </div>
    </div>
</div>