
.c-app-layout {
    @apply w-full h-full flex flex-col bg-purple-darker;

    &__toolbar {
        @apply w-full h-auto flex-none flex items-center;
    }

    &__container {
        @apply flex flex-grow w-full h-full;

        > aside {
            @apply w-full h-auto flex-none;
        }

        > main {
            @apply relative flex-grow bg-purple-darker;
            overflow-y: auto;
        }
    }

    &__toast {
        @apply z-5 w-full fixed pin-r pin-b;

        @include mappy-bp(md) {
            width: calc(100% - config('width.16'));
        }
    }
}

@include mappy-bp(max md) {
    .c-app-layout {
        &__container {
            @apply flex-col;
        }
    }
}

@include mappy-bp(md) {
    .c-app-layout {
        &__container {
            > aside {
                @apply w-auto h-full;
            }
        }
    }
}
