
.c-card {
    @apply relative bg-white shadow rounded text-grey-dark;

    &--content-centered {
        .c-card__content {
            @apply flex flex-col items-center justify-center;
        }
    }

    &--rounded-lg {
        @apply rounded-lg;
    }
}

.c-card__content {
    @apply p-8;
}

.c-card__expandable {
    height: 0;
    overflow: hidden;
}

.c-card.expanded .c-card__expandable {
    @apply border-t border-grey-lightest p-8;
    height: auto;
    overflow: auto;
}

.c-card.expanded .c-card__toggle-icon {
    transform: rotate(180deg);
}

.c-card__toggle-icon {
    @apply absolute text-grey-light flex content-end;
    top: config('padding.9');
    right: config('padding.8');
}

.c-card__actions {
    @apply flex overflow-hidden border-t;
    border-bottom-right-radius: config('borderRadius.default');
    border-bottom-left-radius: config('borderRadius.default');

    button {
        @apply flex-1 rounded-none p-6;
        order: 1;

        &:nth-child(2) {
            @apply bg-grey-lighter text-grey-dark;
            order: 0;

            &:hover {
                @apply bg-grey-light;
            }
        }
    }
}
