
.c-grid {
    @apply flex flex-wrap justify-between;

    &__item {
        @apply mb-6;
    }
}

.c-grid--halves .c-grid__item {
    width: calc(50% - config('margin.6'));
}

.c-grid--thirds .c-grid__item {
    width: calc(33.33% - config('margin.6'));
}

.c-grid--fourths .c-grid__item {
    width: calc(25% - config('margin.6'));
}

.c-grid--fifths .c-grid__item {
    width: calc(20% - config('margin.6'));
}
