
.c-header {
    @apply w-full flex border-b items-center;

    &__logo {
        @apply h-full flex items-center flex-none;

        img {
            height: 50%;
        }
    }

    &__content {
        @apply flex-1 flex items-center;
    }

    &__user {
        @apply flex-none;
    }
}

@include mappy-bp(max md) {
    .c-header {
        @apply h-6 px-10;

        &__logo {
            @apply mr-10;
        }
    }
}

@include mappy-bp(md) {
    .c-header {
        @apply h-8 px-14;

        &__logo {
            @apply mr-14;
        }
    }
}
