
.c-icon {
    @apply relative w-icon-md h-icon-md inline-block;
    vertical-align: middle;
    color: inherit;
    fill: currentColor;
    top: -2px;

    &--size-xs {
        @apply w-icon-xs h-icon-xs;
    }

    &--size-sm {
        @apply w-icon-sm h-icon-sm;
    }

    &--size-lg {
        @apply w-icon-lg h-icon-lg;
    }
}
