
.c-toast {
    @apply w-full px-6 py-6 bg-grey-dark text-white font-semi-bold text-sm flex justify-center items-center;
    opacity: .5;
    transition: all $transition-time--medium ease;
    transform: translateY(100px);

    &.active {
        opacity: 1;
        transform: translateY(0);
    }
}
