<!doctype html>
<html class="no-js f-state--sidebar-active" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/toolkit/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/toolkit/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/toolkit/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/toolkit/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/toolkit/images/favicons/safari-pinned-tab.svg" color="#0066a1">
    <link rel="shortcut icon" href="/assets/toolkit/images/favicons/favicon.ico">

    <meta name="msapplication-TileColor" content="#0066a1">
    <meta name="msapplication-config" content="/assets/toolkit/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{{title}}</title>

    {{#if fabricator}}
    <!-- fabricator styles -->
    <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/styles/fabricator.css">
    <!-- /fabricator styles -->
    {{/if}}

    <!-- legacy styles -->
    
    <!-- /legacy styles -->

    <!-- toolkit styles -->
    <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/styles/toolkit.css">
    <!-- /toolkit styles -->

    {{#if fabricator}}
    <!-- fabricator scripts header -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Open Sans:300,400,700,900']
            }
        });
    </script>
    <!-- /fabricator scripts header -->
    {{/if}}
</head>
<body>
    {{#if fabricator}}
    <header class="f-header">
        <img class="f-header__logo" src="assets/toolkit/images/logo.svg" width="85">
        <h2 class="f-header__title f-title f-text f-text-sm f-text-bold">Styleguide</h2>
        <div class="f-header__menu-toggle" data-f-toggle-nav>
            <svg class="f-icon f-icon--size-medium">
                <use xlink:href="assets/toolkit/images/icons/sprite.svg#bars"></use>
            </svg>
        </div>
    </header>
    <div class="f-app" data-f-app>
        <div class="f-view f-view--content" data-f-content>
            <div class="f-fullscreen-nav" data-f-fullscreen-nav>
                {{> f-nav}}
            </div>
            <aside class="f-sidebar" data-f-sidebar>
                <header class="f-sidebar__header">
                    <img src="assets/toolkit/images/logo.svg" width="100">
                    <h2 class="f-text f-title f-text-sm f-text-bold">Styleguide</h2>
                </header>
                <div class="f-sidebar__nav-container">
                    {{> f-nav}}
                </div>
            </aside>  
            <main class="f-main">
    {{/if}}

    {% body %}

    {{#if fabricator}}    
            </main>  
        </div>    
        <div class="f-view f-view--detail" data-f-overlay>
    
        </div>
    </div>
    {{/if}}


    {{#if fabricator}}
    <!-- fabricator scripts -->
    <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/scripts/fabricator.js"></script>
    <!-- /fabricator scripts -->
    {{/if}}

    <!-- legacy scripts -->

    <!-- /legacy scripts -->

    <!-- toolkit scripts -->
    <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/scripts/toolkit.js"></script>
    <!-- /toolkit scripts -->
</body>
</html>
