<!doctype html>
<html lang="en" class="f-html f-state--sidebar-active">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/toolkit/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/toolkit/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/toolkit/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/toolkit/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/toolkit/images/favicons/safari-pinned-tab.svg" color="#0066a1">
    <link rel="shortcut icon" href="/assets/toolkit/images/favicons/favicon.ico">

    <meta name="msapplication-TileColor" content="#0066a1">
    <meta name="msapplication-config" content="/assets/toolkit/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{{title}}</title>

    {{#if fabricator}}
    <!-- fabricator styles -->
    <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/styles/fabricator.css">
    <!-- /fabricator styles -->
    {{/if}}

    <!-- toolkit styles -->
    <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/styles/toolkit.css">
    <!-- /toolkit styles -->

    {{#if fabricator}}
    <!-- fabricator scripts header -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Montserrat:100,300,500,700']
            }
        });
    </script>
    <!-- /fabricator scripts header -->
    {{/if}}
</head>
<body class="f-body">
{{{inline "dist/assets/toolkit/icons/icon-sprite.svg"}}}
{{#if fabricator}}
    {{> f-icons}}
    {{> f-header}}
    <div class="f-toast" data-f-toast></div>
    <div class="f-app" data-f-app>
        <div class="f-view f-view--content">
            <div class="f-nav--mobile f-font" data-f-mobile-nav>
                {{> f-nav}}
            </div>
            <aside class="f-sidebar f-font" data-f-sidebar>
                <header class="f-sidebar__header">
                    {{> f-logo width="100"}}
                    <div class="f-sidebar__title">Styleguide</div>
                </header>
                <div class="f-nav--progress">
                    {{> f-nav}}
                    <svg class="nav-marker" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-dasharray="0, 0, 0, 1000"/>
                    </svg>
                </div>
            </aside>  
            <main class="f-main f-whitespace--view" data-f-jump-container>
{{/if}}

{% body %}

{{#if fabricator}}    
            </main>
        </div>    
        {{> f-fullscreen}}
    </div>
{{/if}}

{{#if fabricator}}
    <!-- fabricator scripts -->
    <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/scripts/fabricator.js"></script>
    <!-- /fabricator scripts -->
{{/if}}

    <!-- toolkit scripts -->
    <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/scripts/toolkit.js"></script>
    <!-- /toolkit scripts -->
</body>
</html>
