---
title: Overview | Styleguide
fabricator: true
---

<h1 data-f-toggle="labels" class="f-text f-category-title">Overview</h1>
<br>
<p class="f-text f-text-normal f-text-md">Welcome to the Electra Styleguide. It includes the general branding guidelines which are to be applied in the design process of all Electra products. Also, it includes the components and elements which we will use in Electra user interfaces. 
<br>
<br>
This styleguide has two major purposes. On the one hand, it serves as a single point of truth/reference in UI development and design processes. applying tailwindcss and its utility-first approach to styling templates, we can ensure that there will be no deviations from agreed upon design guidelines. On the other hand, developers can use this repo as an evolving pattern library, to enable a fast process of developing UI components.</p>
<br>
<h2 class="f-text f-text-lg">How does it work?</h2>
<p class="f-text f-text-normal f-text-md">This is a fork of the Fabricator UI kit with the following customizations/improvements:</p>
<ul class="f-text f-text-normal f-text-md">
	<li>Build process (Gulp workflow) was refactored and made more efficient, tailwindcss and purgecss processing was added</li>
	<li>UI design was improved and simplified</li>
</ul>
<p class="f-text f-text-normal f-text-md">To understand how to work with this repo, it is important to understand the following concepts:</p>
<ul class="f-text f-text-normal f-text-md">
	<li>Styleguide structure and development workflow ([Fabricator Documentation](http://fbrctr.github.io/docs/))</li>
	<li>Utility-first, functional CSS (<a href="https://tailwindcss.com" target="_blank">TailwindCSS</a>)</li>
	<li>CSS Classes Naming Convention [BEM](http://getbem.com/introduction/)</li>
</ul>
<p class="f-text f-text-normal f-text-md">
The underlying functionality and look of the fabricator styleguide is still a work in progress. Please don't modify the code found in 'src/assets/fabricator/' and 'src/views/fabricator/'.
</p>
<br>
<h2 class="f-text f-text-lg">What is the result?</h2>
<p class="f-text f-text-normal f-text-md">TWorking on this styleguide, you create two important things:</p>
<ul class="f-text f-text-normal f-text-md">
	<li>Assets (images, fonts, bundled CSS/JS) which will be used in all HTML/CSS-based user interfaces ('dist/assets/toolkit'). </li>
	<li>Templates which you can drop anywhere in the code (e.g. during the upcoming desktop wallet development)</li>
</ul>