/**
 * Fabricator styles
 * Class selectors are namespaced with "f-"
 */

// utility
@import 'utility/colors';

// settings
@import 'config';

// reset all styles of namespaced classes to prevent overrides by toolkit styles 
@import 'generic/reset';

// elements
@import 'elements/link';
@import 'elements/icon';
@import 'elements/code';
@import 'elements/switch';

// components
@import 'components/app';
@import 'components/toast';
@import 'components/header';
@import 'components/sidebar';
@import 'components/fullscreen';
@import 'components/nav';
@import 'components/nav--mobile';
@import 'components/category';
@import 'components/item';
@import 'components/ruler';
@import 'components/color-box';
@import 'components/page-box';
@import 'components/logo-box';
