
.f-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid $theme-border-color;
	padding: 0 0 0 1.4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	font-family: 'Open Sans';

	&__title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $header-height;
		line-height: $header-height;
		text-align: center;
		margin: 0;
		pointer-events: none;
	}

	&__menu-toggle {
		border-left: 1px solid $theme-border-color;		
		width: 70px;
		height: 100%;
		display: flex;
		cursor: pointer;
		transition: background-color 300ms ease;

		&:hover {
			background-color: rgba(0,0,0,0.02);
		}

		svg {
			margin: auto;
		}
	}

	.f-state--sidebar-active & {
		height: 0;
	}
}

.f-fullscreen-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// text-align: center;
	background: #fff;
	z-index: 10;
	display: none;

	.f-state--menu-active & {
		display: block;
	}

	.f-state--sidebar-active & {
		display: none;
	}
}