$icon-size-xs: 10px;
$icon-size-small: 12px;
$icon-size-medium: 18px;
$icon-size-large: 24px;

.f-icon {
	&--size-xs {
		width: $icon-size-xs;
		height: $icon-size-xs;
	}
	&--size-small {
		width: $icon-size-small;
		height: $icon-size-small;
	}
	&--size-medium {
		width: $icon-size-medium;
		height: $icon-size-medium;
	}
	&--size-large {
		width: $icon-size-large;
		height: $icon-size-large;
	}
}