.f-item-card {
	border: 1px solid rgba(0,0,0,0.08);
	border-radius: 10px;
}

.f-item-notes {
	margin-bottom: 1.4em;
	font-family: 'Open Sans';
	ul {
		list-style: none;	
	}
}

.f-item-group .f-item .f-item-code pre {
	tab-size: 2;
}

.f-item-preview {
	padding: $theme-whitespace-medium;
	overflow: auto;
}

.f-item-code {
	padding: $theme-whitespace-medium;
	border-top: 1px solid rgba(0,0,0,0.08);
	background: rgba(0,0,0,0.01);
	overflow: auto;

	pre {
		margin: 0;
	}

    &:empty {
	   display: none;
	}
}

// .f-item-group {
// 	@include clearfix;
// 	margin-top: 3rem;
// 	margin-bottom: 3rem;
// 	padding-bottom: 3rem;
//     padding-left: $whitespace--page;
//     padding-right: $whitespace--page;
// 	border-bottom: 1px solid map-get($colors, light);

// 	&:last-child {
// 		border-bottom: 0;
// 		margin-bottom: 0;
// 	}

// 	& ~ & {
// 		margin-top: 0;
// 	}

// 	& > & {
// 		padding-bottom: 1.5rem;
// 		margin-bottom: 1.5rem;
// 		border-bottom: 0;

// 		&:first-of-type {
// 			margin-top: 0;
// 		}

// 		&:last-child {
// 			margin-bottom: 0;
// 			padding-bottom: 0;
// 		}
// 	}
// }

// .f-item-code {
// 	margin-top: 2rem;
// }

// .f-item-preview {
// 	@include clearfix;
// }

// .f-item-border-bottom {
// 	border-bottom: 1px solid map-get($colors, light);
// }

// .f-item-heading-group {
// 	@include clearfix;
// 	margin-bottom: 2rem;
// 	vertical-align: middle;
// }

// .f-item-heading {
// 	margin-top: 0;
// 	margin-bottom: 0;
// 	display: inline-block;
// 	vertical-align: middle;
// 	line-height: 1;
// }


// .f-item-controls {
// 	display: inline-block;
// 	vertical-align: middle;
// 	margin-left: 1rem;

// 	.f-control {
// 		width: 25px;
// 		height: 14px;
// 		display: block;
// 		float: left;

// 		&:hover {
// 			use {
// 				fill: #333;
// 			}
// 		}

// 		use {
// 			fill: #ccc;
// 		}
// 	}
// }

// .f-item-hidden {
// 	display: none;
// }

// .f-item-notes {
// 	font-size: 0.875rem;
// 	padding: 1em 1.5em;
// 	margin-bottom: 1em;
// 	background-color: map-get($colors, light);

// 	p:last-child {
// 		margin-bottom: 0;
// 	}

// 	ul {
// 		padding-left: 1.5em;
// 	}
// }
