
.f-nav {
	text-decoration: none;
}

.f-nav-group {
	margin-top: 25px;
	white-space: nowrap;

	& > a {
		display: block;
		color: black;
		font-weight: bold;
		color: #333;
		font-size: 12px;
		text-transform: uppercase;
		padding: 0 $theme-whitespace-medium;
		margin-bottom: 10px;
		text-decoration: none;
	}
}

.f-nav-item {
 	a {
 		display: block;
		color: black;
		font-weight: 400;
		color: #555;
		font-size: 12px; 	
		padding: .85em $theme-whitespace-medium;
		border-top: 1px solid $theme-border-color;
		text-decoration: none;

		&:hover {
			background-color: #fafafa;
		}
 	}
}

.f-nav-item:last-child a {
	border-bottom: 1px solid $theme-border-color;
}