aside.f-sidebar {
	border-right: 1px solid $theme-border-color;
	overflow-y: auto;
	font-family: 'Open Sans';
}

header.f-sidebar__header {
	width: 100%;
	height: auto;
	padding: 1.5em;
	box-sizing: border-box;

	.f-title {
		margin: 10px 0 0 0;
	}
}

.f-sidebar__nav-container {
	flex: 1;
}
