$whitespace--page: 2.5em;

$theme-background-color: #fff;
$theme-border-color: #f0f0f0;
$theme-highlight-color: #333;

$theme-whitespace-small: 1em;
$theme-whitespace-medium: 1.8em;
$theme-whitespace-large: 3em;

$sidebar-width: 14rem;
$header-height: 50px;

$transition-duration: .2s;
