
$color--white: #fff;
$color--grey-dark: #444;
$color--grey-darker: #2c2c2c;
$color--grey-darkest: #191919;
$color--grey-light: #eaeaea;
$color--grey-lighter: #f2f2f2;
$color--grey-lightest: #f9f9f9;
$color--purple: #BE00FF;
